<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.mapper.SysDictMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.entity.SysDict" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="label" property="label" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="disabled" property="disabled" jdbcType="BIT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, label, value, type, description, sort, remark, disabled
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from sys_dict
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.entity.SysDict" >
        insert into sys_dict
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="label != null" >
                label,
            </if>
            <if test="value != null" >
                value,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="disabled != null" >
                disabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="label != null" >
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disabled != null" >
                #{disabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.entity.SysDict" >
        update sys_dict
        <set >
            <if test="label != null" >
                label = #{label,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                value = #{value,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disabled != null" >
                disabled = #{disabled,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from sys_dict
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <select id="findDictsByType" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_dict
        WHERE TYPE = #{type}
        AND del_flag = 0
        ORDER BY VALUE ASC
    </select>

    <!-- 根据类型和值查询字典信息 start -->
    <select id="findDictByTypeAndValue" resultMap="BaseResultMap" parameterType="hashmap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_dict
        WHERE TYPE = #{type} AND VALUE = #{value}
    </select>
    <!-- 根据类型和值查询字典信息 end -->

</mapper>